* { 
    box-sizing: border-box;  
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    margin: 0;
}

a {
    color: #ffffff;
}

.container {
    height: 100%;
    display: grid;
    grid-template-rows: 10% 3% 77% 10%;
    grid-template-columns: 10% 90%; 
}

.header {
    background-color: #065800;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: span 2;
    gap: 20%;
}

.themes_navigation {
    background-color: #61ca61;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: span 2;
}

.themes_titles {
    font-size: 30px;
}

.main {
    display: grid;
    grid-template-columns: 10% 90%;
    grid-column: span 2;
}

.left {
    background-color: #293133;
    color: #ffffff;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 10px;
}

.right {
    background-color: #e7e7e7;
    color: black;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 20px;
}

.footer {
    background-color: #293133;
    color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: span 2;
}

.code {
    background-color: #293133;
    color: #ffffff;
}

.scroll-box {
    overflow: auto;
    scrollbar-width: thin;
}

.footer_link {
    color: gray;
}