<!DOCTYPE html>
<html lang="{{ site.lang | default: "RU-RU" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/style.css">
  </head>

  <body>
    <div class="container">
      <header class="header">
        <div>
          <a id="a-title" href="_default.html">
            <h1>HelpIt</h1>
          </a>
        
          <h2>Cheat sheet website</h2>
        </div>
        <div>
          <section id="downloads">
            <a href="{{ site.github.repository_url }}" class="btn btn-github"><span class="icon"></span>View on GitHub</a>
          </section>
        </div>
        <div>
          <ul>
            <li><a href="_default.html">Главная</a></li>
            <li><a href="about.html">Обо мне</a></li>
            <li><a href="contacts.html">Контакты</a></li>
          </ul>
        </div>
        </header>
        <div class="themes_navigation">
        <nav id="navigate">
          <a href="../themes/html/html.html">HTML</a>
          <a href="../themes/css/css.html">CSS</a>
          <a href="../themes/js/js.html">JS</a>
          <a href="../themes/ts/ts.html">TS</a>
          <a href="../themes/react/react.html">React</a>
          <a href="../themes/express/express.html">Express</a>
          <a href="../themes/sql/sql.html">SQL</a>
          <a href="../themes/git/git.html">Git</a>
          <a href="../themes/markdown/markdown.html">Markdown</a>
          <a href="../themes/python/python.html">Python</a>
          <a href="../themes/selenium/selenium.html">Selenium</a>
        </nav>
        </div>
      

      <main class="main">
        <div class="left">
          <ul><span class="themes_titles">HTML</span>
            <li>
              <a href="">Flexbox</a>
            </li>
            <li>
              <a href="">Grid</a>
            </li>
          </ul>
        </div>

        <div class="right">
          <section id="main_content">
          </section>
        </div>
      </main>

      <footer class="footer">
        <div class="item4">
          <p>Контент на этом сайте является общественным достоянием и доступен для свободного использования.</p>
          <p>Вы можете свободно копировать, изменять и распространять контент с этого сайта без необходимости получения разрешения.</p>
          <p>Все материалы доступны для использования.</p>
        </div>
      </footer>
    </div>
  </body>
</html>